body {
  text-align: center;
  background-color: #ccffff;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color:  #000000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  width: 200px;
    height: 200px;
    background:red;
    border-radius: 0 100px 0 0;
    -moz-border-radius: 0 100px 0 0;
    -webkit-border-radius: 0 100px 0 0;
}

.green {
  width: 200px;
  height: 200px;
  background: green;
  border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
}

.blue {
  width: 200px;
   height: 200px;
   border-radius: 0 0 100px 0;
   -moz-border-radius: 0 0 100px 0;
   -webkit-border-radius: 0 0 100px 0;
  background-color: blue;
}

.yellow {
  width: 200px;
    height: 200px;
    border-radius: 0 0 0 100px;
    -moz-border-radius: 0 0 0 100px;
    -webkit-border-radius: 0 0 0 100px;
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

